# Browser / run mode
BASE_URL=https://www.google.com
BROWSER_CHANNEL=chrome
HEADLESS=true
# HEADLESS=false
SLOW_MO=0
USE_PERSISTENT_PROFILE=true
PERSISTENT_PROFILE_DIR=.auth/chrome-profile

# Timeouts (ms)
ACTION_TIMEOUT=15000
NAVIGATION_TIMEOUT=30000
EXPECT_TIMEOUT=15000
TEST_TIMEOUT=60000
